<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>employeereg</servlet-name>
		<servlet-class>p1.Employee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeereg</servlet-name>
		<url-pattern>/EmployeeRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>emplogin</servlet-name>
		<servlet-class>p1.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emplogin</servlet-name>
		<url-pattern>/EmployeeLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>custoLogin</servlet-name>
		<servlet-class>p1.UserCreateAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>custoLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>actualLogin</servlet-name>
		<servlet-class>p1.UserAccountLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>actualLogin</servlet-name>
		<url-pattern>/CustoLogin</url-pattern>
	</servlet-mapping>
	<servlet> 
		<servlet-name>Userz</servlet-name>
		<servlet-class>p1.UserFromEmployeeDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Userz</servlet-name>
		<url-pattern>/UserFromEmployee</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserTransactions</servlet-name>
		<servlet-class>p1.showAllTransactions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTransactions</servlet-name>
		<url-pattern>/showTransactions</url-pattern>
	</servlet-mapping>
</web-app>